<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <h3>
          <img src= "/static/cafe_logo.png ">
          <a class="text-muted" href="{{ url_for('index') }}">Hot Drinks </a> &nbsp;
          <a class="text-muted" href="{{ url_for('cold') }}">Cold Drinks </a> &nbsp;
          <a class="text-muted" href="{{ url_for('food') }}">Food </a> &nbsp;
          <a class="text-muted" href="http://cabotcafe.com">About / Contact </a> &nbsp;
        </h3>
      </div>

<!-- Main Item List -->
      <div class="card">
        <div class="card-body">
          <h1 class="display-3">Savory</h1>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/bagel.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Bagel with Cream Cheese</h1>
              <p class="lead">$2.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="200"
                  data-name="Cabot Cafe"
                  data-description="Bagel with Cream Cheese"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Hot Pocket</h1>
              <p class="lead">$3.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="350"
                  data-name="Cabot Cafe"
                  data-description="Hot Pocket"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Mac N Cheese</h1>
              <p class="lead">$3.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="300"
                  data-name="Cabot Cafe"
                  data-description="Mac N Cheese"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h1 class="display-3">Sweet</h1>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Chocolate Chip Cookie</h1>
              <p class="lead">$2.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="200"
                  data-name="Cabot Cafe"
                  data-description="Chocolate Chip Cookie"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Coconut Macaroon</h1>
              <p class="lead">$2.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="200"
                  data-name="Cabot Cafe"
                  data-description="Coconut Macaroon"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Muffin of the Day</h1>
              <p class="lead">$2.50</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="250"
                  data-name="Cabot Cafe"
                  data-description="Muffin of the Day"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Bear Claw</h1>
              <p class="lead">$3.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="300"
                  data-name="Cabot Cafe"
                  data-description="Bear Claw"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Scone of the Day</h1>
              <p class="lead">$3.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="300"
                  data-name="Cabot Cafe"
                  data-description="Scone of the Day"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Chocolate Croissant</h1>
              <p class="lead">$3.50</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="450"
                  data-name="Cabot Cafe"
                  data-description="Chocolate Croissant"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Almond Croissant</h1>
              <p class="lead">$3.50</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="350"
                  data-name="Cabot Cafe"
                  data-description="Almond Croissant"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="/static/cafe_logo_big.jpg" />
            </div>
            <div class="col-md-6">
              <h1 class="display-5">Lemon Poppyseed Cake</h1>
              <p class="lead">$2.00</p>
              <form action="{{ url_for('pay') }}" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ pub_key }}"
                  data-amount="350"
                  data-name="Cabot Cafe"
                  data-description="Lemon Poppyseed Cake"
                  data-image="/static/cafe_logo_big.jpg"
                  data-locale="auto">
                </script>
              </form>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Duncan Stothers 2018</p>
        <a href="http://www.facebook.com/cabotcafe"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_32x32.png" ></a>
        <a href="http://www.twitter.com/cabotcafe"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_32x32.png"></a>
        <a href="http://www.instagram.com/cabotcafe"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/instagram-icon_32x32.png"></a>
      </footer>
    </div>
  </body>
</html>
