<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <h3>
          <img src= "/static/cafe_logo.png ">
          <a class="text-muted" href="{{ url_for('index') }}">Hot Drinks </a> &nbsp;
          <a class="text-muted" href="{{ url_for('cold') }}">Cold Drinks </a> &nbsp;
          <a class="text-muted" href="{{ url_for('food') }}">Food </a> &nbsp;
          <a class="text-muted" href="http://cabotcafe.com">About/Contact </a> &nbsp;
          <a href="https://github.com/Radar3699/CabotCafeMobileOrder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        </h3>
      </div>

<!-- Main item list -->
      {% for type in order %}
      <div class="card">
        <div class="card-body">
          <h1 class="display-3">{{ type }}</h1>
        </div>
      </div>
        {% for (name,price,image) in food_items[type] %}
        {% if price == 2.00 %}
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src= {{ "/static/" + image }} />
              </div>
              <div class="col-md-6">
                <h1 class="display-5"> {{ name }} </h1>
                <p class="lead"> {{ "$" + price|string }} </p>
                <form action="{{ url_for('pay200') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount={{ ((price*100)|int)|string }}
                    data-name="Cabot Cafe"
                    data-description={{ name }}
                    data-image="/static/cafe_logo_big.jpg"
                    data-locale="auto">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if price == 2.50 %}
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src= {{ "/static/" + image }} />
              </div>
              <div class="col-md-6">
                <h1 class="display-5"> {{ name }} </h1>
                <p class="lead"> {{ "$" + price|string }} </p>
                <form action="{{ url_for('pay250') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount={{ ((price*100)|int)|string }}
                    data-name="Cabot Cafe"
                    data-description={{ name }}
                    data-image="/static/cafe_logo_big.jpg"
                    data-locale="auto">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if price == 3.00 %}
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src= {{ "/static/" + image }} />
              </div>
              <div class="col-md-6">
                <h1 class="display-5"> {{ name }} </h1>
                <p class="lead"> {{ "$" + price|string }} </p>
                <form action="{{ url_for('pay300') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount={{ ((price*100)|int)|string }}
                    data-name="Cabot Cafe"
                    data-description={{ name }}
                    data-image="/static/cafe_logo_big.jpg"
                    data-locale="auto">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if price == 3.50 %}
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src= {{ "/static/" + image }} />
              </div>
              <div class="col-md-6">
                <h1 class="display-5"> {{ name }} </h1>
                <p class="lead"> {{ "$" + price|string }} </p>
                <form action="{{ url_for('pay350') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount={{ ((price*100)|int)|string }}
                    data-name="Cabot Cafe"
                    data-description={{ name }}
                    data-image="/static/cafe_logo_big.jpg"
                    data-locale="auto">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if price == 4.00 %}
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src= {{ "/static/" + image }} />
              </div>
              <div class="col-md-6">
                <h1 class="display-5"> {{ name }} </h1>
                <p class="lead"> {{ "$" + price|string }} </p>
                <form action="{{ url_for('pay400') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount={{ ((price*100)|int)|string }}
                    data-name="Cabot Cafe"
                    data-description={{ name }}
                    data-image="/static/cafe_logo_big.jpg"
                    data-locale="auto">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if price == 4.50 %}
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src= {{ "/static/" + image }} />
              </div>
              <div class="col-md-6">
                <h1 class="display-5"> {{ name }} </h1>
                <p class="lead"> {{ "$" + price|string }} </p>
                <form action="{{ url_for('pay450') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount={{ ((price*100)|int)|string }}
                    data-name="Cabot Cafe"
                    data-description={{ name }}
                    data-image="/static/cafe_logo_big.jpg"
                    data-locale="auto">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if price == 5.00 %}
        <div class="jumbotron">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src= {{ "/static/" + image }} />
              </div>
              <div class="col-md-6">
                <h1 class="display-5"> {{ name }} </h1>
                <p class="lead"> {{ "$" + price|string }} </p>
                <form action="{{ url_for('pay500') }}" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-amount={{ ((price*100)|int)|string }}
                    data-name="Cabot Cafe"
                    data-description={{ name }}
                    data-image="/static/cafe_logo_big.jpg"
                    data-locale="auto">
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      {% endfor %}

      <footer class="footer">
        <p>&copy; Duncan Stothers 2018</p>
        <a href="http://www.facebook.com/cabotcafe"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_32x32.png" ></a>
        <a href="http://www.twitter.com/cabotcafe"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_32x32.png"></a>
        <a href="http://www.instagram.com/cabotcafe"><img src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/instagram-icon_32x32.png"></a>
      </footer>

    </div>
  </body>
</html>
